body {
	background-color: #f5f5f5;
}

label {
	display: block;
}

form input[type="text"],
form input[type="password"],
form select {
	width: 100%;
}

div.control { 
	margin-top: -1em;
	padding-left: 2em;
}

div#inputSearch {
	margin: 2em 0em;
}

div#actionSearch {
	margin: -1em 0em 2em 0em;
}

div#actionSearch input[type="submit"] {
	margin-left: 2em;
	margin-right: 1em;
}

table.result {
	border-collapse: collapse;
	font-size: 0.9em;
	width: 100%;
	text-align: center;
}

table.result thead tr th,
table.result tbody tr td {
	padding: 0.2em 0em;
}

table.result tbody tr:hover {
	background-color: rgb(223, 239, 252);
	cursor: default;;
}

.container_12 {
	background-color: white;
	min-height: 600px;
}

.toolbar {
	padding: 0.1em 0.2em;
}

p.ui-state-error, p.ui-state-highlight {
	padding: 0.3em;
	font-size: 1em;
	font-weight: bold;
}

div#infoDialog ul li {
	list-style-type: none;
}