body {
	background-color: #f5f5f5;
}

label {
	display: block;
}

form input[type="text"],
form input[type="password"],
form select {
	width: 100%;
}

div.control { 
	margin-top: 1em;
	padding-left: 2em;
}

div#actionSearch input[type="submit"] {
	margin-left: 2em;
	margin-right: 1em;
}

.toolbar {
	padding: 0.1em 0.2em;
}

p.ui-state-error, p.ui-state-highlight {
	padding: 0.3em;
	font-size: 1em;
	font-weight: bold;
}

div#infoDialog ul li {
	list-style-type: none;
}